body {
    background-color: #e1f5fe;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Unica One', cursive;
}

/* Nav Styling */
nav {
    background-color: #00adef;  
    font-family: 'Unica One', cursive;
}

.adjust {
    margin-top: -9px;
}

.nav-hover:hover {
    color: #ffd54f;
}

.adjust:hover {
    color: #ffd54f;
}

/* Parallax Styling */
.parallax-container {
    height: 700px;
}

.section-2 {
    height: 1500px;
}

.name {
    font-family: 'Rock Salt', cursive;
    margin-left: 1em;
    margin-top: 3em;
    color: #ffd54f;
    text-shadow: 2px 2px 5px black;
}

.subtitle {
    font-size: 40px;
    margin-left: 3em;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: 2px 2px 5px black;
}

/* About Me Styling */
#about-me {
    position: relative;
}

.profile-pic {
    margin-top: 2.5em;
}

p {
   line-height: 1.6;
   margin-top: 1em;
   margin-left: 24em;
}

.school {
    margin-top: 1em;
}

.degree {
    font-weight: bold;
    color: rgb(14, 80, 119);
    margin-bottom: .4em;
}

.tenctical {
    z-index: -1;
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 300px;
}

/* My work Styling */
.past-work-container {
    margin-top: 4em;
    position: relative;
    font-family: 'Unica One', cursive;
    font-size:x-large;
}

.past-work {
    opacity: .5;
}

.past-work:hover {
    opacity: 1;
    transition: 0.3s;
}

.work-title {
    position: absolute;
}

#one {
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

#two {
    
    z-index: 1;
    transform: translate(-50%, -50%);
}

#three {
   
    z-index: 1;
    transform: translate(-50%, -50%);
}

#four {
    
    z-index: 1;
    transform: translate(-50%, -50%);
}

.line:after {
    border: 1px solid rgb(105, 38, 38);
    content: '';
    height: 0px;
    width: 30%;
    bottom: 0;
    left: 35%;
    display: block;
    position: absolute;
    z-index: 5;
}

/* Footer Styling */
.page-footer {
    background-color: #00adef;
}

/*Media Size Styling*/
@media only screen and (max-width: 988px) {
    .sidenav-trigger {
        display:block !important;; 
    }
}