body {
    background-color: #e1f5fe;
}

/* Nav Styling */
.adjust {
    margin-top: -9px;
}

.transparent-bg {
    background-color: rgb(172, 172, 243);
}

.nav-hover:hover {
    color: #ffd54f;
}

.adjust:hover {
    color: #ffd54f;
}

/* Parallax Styling */
.parallax-container {
    height: 700px;
}

.section-2 {
    height: 1500px;
}

/* About Me Styling */
.profile-image {
    border-radius: 50%;
}

/* My work Styling */
.past-work-container {
    margin-top: 4em;
}

.past-work {
    border-radius: 50%;
    opacity: .5;
}

.past-work:hover {
    opacity: 1;
    transition: 0.3s;
}

.line:before {
    border: 1px solid rgb(105, 38, 38);
    content: '';
    height: 0px;
    width: 20%;
    margin-top: -1em;
    margin-left: 20%;
    margin-right: 20%;
    padding-right: 8em;
    display: block;
    position: absolute;
}